"Key-Type: {{ gpg_key_settings.type }} \r\n \
Key-Length: {{ gpg_key_settings.length }} \r\n \
Subkey-Type: {{ gpg_key_settings.subkey_type }} \r\n \
Subkey-Length: {{ gpg_key_settings.subkey_length }} \r\n \
Name-Real: {{ gpg_key_settings.name }} \r\n \
Name-Email: {{ gpg_key_settings.email }} \r\n \
Expire-Date: {{ gpg_key_settings.expire_date }} \r\n \
%no-protection \r\n \
%commit \r\n"